{{#each products}}


<div class="row">
    {{#each this}}
      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imgpath}}" class="img-responsive" alt="...">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}!</p>
        <div class="clearfix">
            <div class="price pull-left">${{this.price}}</div>
            <a class="btn btn-success pull-right" href="/users/add-to-cart/{{this._id}}">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
    {{/each}}
  </div>
{{/each}}